.player-card-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333333;
    border-radius: 10px;
    padding: 15px;
    color: gold;
}

.player-details {
    flex: 1;
    text-align: left;
    color: white;
}

.player-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
    border: 2px solid black;
}

.back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px; 
    margin-right: 10px;
}

.back-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px; 
}

.delete-button:hover {
    background-color: darkred;
}

@media (max-width: 600px) {
    .player-card {
        flex-direction: column;
        align-items: center;
    }

    .player-image {
        margin-left: 0;
        margin-top: 10px;
    }
}
