.team-container-squad {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .team-badge-squad {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .team-badge-squad img {
    height:  250px;
    width: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .team-name-squad {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .team-name-squad h4 {
    font-size: 3rem;
    color: white;
    margin: 0;
  }
  
  .team-details-squad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .team-details-squad p {
    margin: 0;
    font-size: 1.5rem;
    color: white;
  }
  
  .team-details-squad strong {
    color: silver;
  }

  .players-text {
    font-size: 1.5rem;
  }